# Enable debug mode for more verbose output.
# ASSISTANTS_DEBUG=False

# Enable rich print mode to enhance the display of outputs.
# ASSISTANTS_ENABLE_RICH_PRINT=False

# Path to the configuration file.
# ASSISTANTS_CONFIG_FILE_LOCATION=~/.config/icacli/.ica.env

# Path to the cache directory. The directory will be created if it does not exist.
# ASSISTANTS_CACHE_DIRECTORY=~/.config/icacli/cache

# Base URL for the assistant API.
ASSISTANTS_BASE_URL=

# Application ID for the assistant API. This field is mandatory.
ASSISTANTS_APP_ID=

# API key for the assistant. This field is mandatory.
ASSISTANTS_API_KEY=

# Access token for authenticated API calls. This field is mandatory.
ASSISTANTS_ACCESS_TOKEN=

# Duration in hours for which the cache is valid.
# ASSISTANTS_CACHE_DURATION_HOURS=24

# Default model ID or name to use for the assistant.
# ASSISTANTS_DEFAULT_MODEL_ID_OR_NAME=Llama2 70B Chat

# Default format for displaying results.
# Possible values:
#   `json`, `table`
# ASSISTANTS_DEFAULT_FORMAT=table

# Number of retry attempts in case of API call failures.
# ASSISTANTS_RETRY_ATTEMPTS=3

# Base delay in seconds for retry attempts, used in exponential backoff.
# ASSISTANTS_RETRY_BASE_DELAY=1.5

# Maximum delay in seconds for retry attempts, used in exponential backoff.
# ASSISTANTS_RETRY_MAX_DELAY=60.0

# Table format for displaying results. Supported types from python-tabulate.
# Possible values:
#   - `plain`
#   - `simple`
#   - `github`
#   - `grid`
#   - `simple_grid`
#   - `rounded_grid`
#   - `heavy_grid`
#   - `mixed_grid`
#   - `double_grid`
#   - `fancy_grid`
#   - `outline`
#   - `simple_outline`
#   - `rounded_outline`
#   - `heavy_outline`
#   - `mixed_outline`
#   - `double_outline`
#   - `fancy_outline`
#   - `pipe`
#   - `orgtbl`
#   - `asciidoc`
#   - `jira`
#   - `presto`
#   - `pretty`
#   - `psql`
#   - `rst`
#   - `mediawiki`
#   - `moinmoin`
#   - `youtrack`
#   - `html`
#   - `unsafehtml`
#   - `latex`
#   - `latex_raw`
#   - `latex_booktabs`
#   - `latex_longtable`
#   - `textile`
#   - `tsv`
# ASSISTANTS_TABLEFMT=simple
